li{
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;   
    margin: 5px;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:purple;
    text-align: center;
}

a{
    text-decoration: none;
    color:orangered;
}

ol li{
    background-color: blue;

}